h2{
  color: cadetblue;
}

.jumbotron h1{
  color: red;
  border: 1px solid red;
  border-radius: 4px;
  box-shadow: 4px 4px 4px red;
}


// @import "partials/variables";
// @import "partials/mixins";
//
// @import "partials/buttons";
